$pt-btn-bg: #ff8ba7;
$pt-btn-text-color: #33272a;
$pt-heading-color: #33272a;
$pt-paragraph-color: #594a4e;
$pt-card-sub-heading: #594a4e;
$pt-link-color: #ff8ba7;
$pt-body-bg-primary: #faeee7;
$pt-btn-bg-secondary: #ffc6c7;
$pt-btn-bg-secondary: #c3f0ca;

// Colors
$pt-box-shadow-default: 0px 0px 2px rgba(0, 0, 0, 0.25);
$pt-box-shadow-hover: 0px 0px 10px rgba(0, 0, 0, 0.10);
$pt-side-bar-bg-color: #FFFFFF;
$pt-sign-bg-color: #E5E5E5;
$pt-main-bg-color: #f8f8f8;
$pt-card-header-bg-color:#094067;
$pt-login-header-color:#094067;


