$sp-primary:#301d49;
$sp-secondary: #e53c5a;
$sp-light:  #f4f8fb;
$sp-secondary-alt:#f8ad34;
  
// Colors
$pt-box-shadow-default: 0px 0px 2px rgba(0, 0, 0, 0.25);
$pt-box-shadow-hover: 0px 0px 10px rgba(0, 0, 0, 0.10);
